trigger: none

pool:
  name: my-pool
  demands:
    - Agent.Name -equals ubuntu-dev

variables:
  azureServiceConnection: 'MyAzureServiceConnection'
  resourceGroupName: 'serverless_rg'
  functionAppName: 'cart-function'

stages:
  - stage: Deploy
    jobs:
      - job: DeployJob
        steps:
          - task: AzureCLI@2
            displayName: 'Download Artifact from Azure Storage'
            inputs:
              azureSubscription: '$(azureServiceConnection)'
              scriptType: 'bash'
              scriptLocation: 'inlineScript'
              inlineScript: |
                az storage blob download \
                  --account-name cartfunccode2026 \
                  --container-name function-releases \
                  --name function.zip \
                  --file $(Pipeline.Workspace)/function.zip \
                  --auth-mode key

          - task: AzureCLI@2
            displayName: 'Deploy to Flex Consumption'
            inputs:
              azureSubscription: '$(azureServiceConnection)'
              scriptType: 'bash'
              scriptLocation: 'inlineScript'
              inlineScript: |
                az functionapp deployment source config-zip \
                  -g $(resourceGroupName) \
                  -n $(functionAppName) \
                  --src $(Pipeline.Workspace)/function.zip